@import '../../theme/toRem';
@import '../../theme/breakpoints';

.home {
  display: grid;
  gap: toRem(16);
}

@media (min-width: $xs) {
  .home {
  }
}

@media (min-width: $md) {
  .home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $xl) {
  .home {
    gap: toRem(24);
  }
}
