@import '../../theme/toRem';

.home {
  display: grid;
  gap: 0 toRem(28);
  grid-template-columns: repeat(3, 1fr);

  h1 {
    grid-column: span 3;
  }

  iframe {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
  }

  .info {
    grid-column: span 2;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: white;
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
    }
  }

  img {
    grid-column: span 1;
    width: 100%;
  }
}
