@import '../../theme/toRem.scss';

figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  background-color: rgba(0, 0, 0, .6);
  border-radius: toRem(8);
  overflow: hidden;
  img {
    width: 100%;
  }
  figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(8);
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
  }
}
