@import '../../theme/breakpoints';

.tracklist {
  display: flex;
  justify-content: center;
  position: relative;
  grid-row: 3 / 4;
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
  }
}

@media (min-width: $xs) {
  .tracklist {
  }
}

@media (min-width: $md) {
  .tracklist {
    grid-column: span 1;
    grid-row: 1 / 3;
  }
}

@media (min-width: $xl) {
  .tracklist {
    grid-column: span 1;
    grid-row: 1 / span 2;
  }
}
