@import '../../theme/toRem';

.merch {
  .merchText {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(4);
    line-height: 1.2;
    a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      line-height: inherit;
    }
  }
}
