@import '../../theme/toRem';
@import '../../theme/constants';


.layout {
  max-width: 100%;
  padding: 0 10%;
  min-height: 100vh;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, .8);
}
