@import '../../theme/toRem';
@import '../../theme/constants';

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  overflow: scroll;
  z-index: 1;
  scrollbar-width: none;
  color: white;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .content {
    width: $layoutWidth;
    max-width: $layoutWidthWithShadow;
    min-height: 100%;
    padding: $contentPaddingTop toRem($contentPadding) $contentPaddingBottom;
  }
}
