@import '../../theme/toRem';


.merch {

  h1 {
    grid-column: span 2;
  }

  .mailto {
    grid-column: span 2;
    margin: toRem(20) 0;
  }

  a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 toRem(28);
  }
}
