@import '../../../theme/toRem';


.merchItem {

  figcaption {
    margin-bottom: toRem(12);
    color: rgba(255, 255, 255, .7);

    b {
      display: block;
      color: white;
      font-weight: 600;
    }
  }

  img {
    grid-column: span 1;
    width: 100%;
  }
}
