@import '../../theme/toRem';

@import '../../theme/toRem';
@import '../../theme/breakpoints';

.shows {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  .heading {
    grid-column: span 2;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(16);
  }
}

@media (min-width: $xs) {
  .shows {
   .container {
      grid-template-columns: repeat(3, 1fr);
      gap: toRem(16);
     .heading {
       grid-column: span 3;
     }
   }
  }
}

@media (min-width: $md) {
  .shows {
   .container {
      grid-template-columns: repeat(3, 1fr);
      gap: toRem(24);
     .heading {
       grid-column: span 4;
     }
    }
  }
}

@media (min-width: $xl) {
  .shows {
   .container {
      gap: toRem(32);
    }
  }
}

