@import '../../theme/breakpoints';
@import '../../theme/toRem';

.gig {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  aspect-ratio: 0.7;
  border-top-left-radius: toRem(8);
  border-top-right-radius: toRem(8);
  overflow: hidden;
  .imageContainer {
    flex-grow: 4;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &.past {
    filter: grayscale(100%);
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: toRem(8);
    background-color: #000;
    text-align: center;
    a {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      gap: toRem(4);
      text-decoration: none;
      color: white;
      .pin {
        width: toRem(12);
        height: toRem(12);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
