@import '../../theme/toRem';


.discography {
  display: grid;
  gap: toRem(28);
  grid-template-columns: repeat(2, 1fr);

  h1 {
    grid-column: span 2;
  }

  h2 {

  }

  img {
    grid-column: span 1;
    width: 100%;
    //height: 439px;
  }

  .info {
    grid-column: span 1;
  }

  ol {
    list-style: decimal;
    padding-left: toRem(18);
  }

  li {
    margin-bottom: toRem(8);
  }

  li:last-child {
    margin-bottom: 0;
  }
}
