@import '../../theme/toRem';


.mailto {
  display: flex;
  flex-direction: column;
  margin-bottom: toRem(20);

  .text {
    color: rgba(255, 255, 255, .7);
  }

  .link {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
}

