@import '../../theme/toRem';
@import '../../theme/breakpoints';

.contacts {
  grid-row: 2 / 3;
  .container {
    display: flex;
    flex-direction: column;
    gap: toRem(12);
    line-height: 1.2;
    .email {
      display: flex;
      gap: toRem(4);
      a {
        color: inherit;
        font-weight: bold;
        line-height: inherit;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $xs) {
  .contacts {
    .container {
      flex-direction: row;
    }
  }
}

@media (min-width: $md) {
  .contacts {
    grid-column: span 2;
    grid-row: 2 / 3;
  }
}

@media (min-width: $xl) {
  .contacts {
  }
}
